%logo-size{
    flex-basis: 10%;
}

%shadow-menu{
    box-shadow: 0px 10px 21px -5px color(secondary);
}

%shadow-text{
    text-shadow: color(quaternary) 0.1em 0.1em 0.2em;
}

%border_radius{
    border: .1rem solid color(tertiary);
    border-radius: .5rem;
}

%img-size{
    width: 100%;
    height: 250px;
}

%first-gallery-picture{
    flex-basis: 25%;
}

%btn-round{
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    background-color: transparent !important;
}


/* grid genérico */
@mixin creagrid( $column: 8, $row: 6, $gap: 1.6rem, $margen:6rem,$colum-size: 16rem){
    display: grid;
    grid-template-columns: minmax($margen,2fr) repeat($column,minmax(min-content,$colum-size)) minmax($margen,2fr);
    grid-template-rows: repeat($row,min-content);
    grid-row-gap: $gap;
}

/* aspecto genérico botones */
@mixin creabtn{
    width: 5rem;
        height: 2rem;
        align-self: center;
        margin-right: 1rem;
        background-color: color(contrast);
        border: none;
        color: color(quaternary);
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: size(min);
        transition-duration: 0.4s;
        position: relative;
        @extend %border_radius;

        &:hover{
            box-shadow: 0 8px 16px 0 color(btn-shadow);
        }
}

// grid de los card para los iconos
@mixin grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1.5fr));
    gap: 10px;
    /// autofill sirve para que las columnas sean responsivas
    /// minmax indica el tamaño mínimo y tamanño maximo que pueden tener las columnas
    
}

/* disposicion para dentro de los cards */
@mixin flex-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* disposición para los artículos de dentro de los cards */
@mixin card-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* layout de la primera galeria */
@mixin firstgallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 0.5fr));
    gap:5px;
      
}

/* animacion para el hover de la primera galeria */
@mixin firstgallery-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: color(tertiary-trans);
    color: color(secondary);
    font-weight: $font-bold;
    font-size: size(sm);
    padding: 5px 10px;
    visibility: visible;
    @extend %shadow-text;
    border:none;
}