//// Proyecto: Pagina web para una inmobiliaria de lujo
//// @author luciarl

/// Importación de las fuentes desde Google Fonts.
/// Se usaran las tres siguientes: ´Cinzel Decorative´, ´Raleway´ y ´Open Sans´
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/// Declaracion de variables para las fuentes.
/// $fon-family: 'Raleway' - Se usara para los textos en general.
/// $font-title: 'Cinzel Decorative' - Se usara para el titulo en la cabecera.
/// $font-footer: 'Open Sans' - Se usara para el texto del footer.
$font-family: 'Raleway', sans-serif;
$font-title: 'Cinzel Decorative', serif;
$font-footer: 'Open Sans', sans-serif;

/// @group font-sizes
/// Grupo de variables para determinar el tamaño del texto.
/// Se determinan los valores para xxl, xl, lg, mg, sm, xs, xxs y min.
$font-sizes:(
    xxl:6rem,
    xl:3rem,
    lg:2.5rem,
    md:2rem,
    sm:1.8rem,
    xs:1.6rem,
    xxs:1rem,
    min: 0.7rem
);

/// Función size que saca un tamaño determinado del @group $font-sizes a traves de un parámetro $size
/// @param {size} – Tamaño de la fuente
/// @return {size} – Resultado de la funcion.
@function size($size){
    @return map-get($font-sizes, $size);
}

/// Variable para el grosor de la fuente
/// $fon-bold: 900 - Se usara para resaltar la fuente.
$font-bold: 900;

/* PALETA DE COLORES */
/// @group colors
/// Grupo de variables para determinar un color de fondo o texto.
/// Se determinan los valores primary, primary-trans, secondary, tertiary, tertiary-trans, quaternary. contrast, deep-contrast y btn-shadow.
/// Los colores se proporcionaran en su variante hexadecimal.
/// Los colores que llevan el apellido -trans son versiones con transparencia de sus predecesores.
/// Los colores con el prefijo deep- son la version oscura de su predecesor.
$colors: (
    primary:#835249, 
    primary-trans: #835249e9, 
    secondary: #403232, 
    tertiary: #D9B7B0, 
    tertiary-trans: #d9b7b09e,
    quaternary: #F2F2F2,
    contrast: #5B74A6,
    deep-contrast: #21304c,
    btn-shadow: #00000033
);

/// Función color que saca un tamaño determinado del @group $colors a traves de un parámetro $color
/// @param {color} – Color.
/// @return {color} – Resultado de la funcion.
@function color($color){
    @return map-get($colors, $color);
}

/// @group breakpoints
/// Grupo de variables para determinar los puntos de ruptura de las media query.
/// Se determinan los valores para sm, md, lg, xl.
$breakpoints:(
"sm": 576,
"md": 768px,
"lg": 992px,
"xl": 1200px
);

/// Animación para la el menú de navegación del header.
/// Consiste en una barrita que se desliza de izquierda a derecha, debajo del enlace cuando se hace 
/// hover en el mismo.
@keyframes underlineAnimation{
    from{
      width: 0;
      margin-left: 0
  }
    to{
      width: 100%;
      margin-left: 0
      }
  }

  /* Definimos la animación para la sombra */
  /// Animación de aparición de sombra al hacer hover en cards.
  /// Consiste en una sombre que parte de cero y se va intensificando con suavidad.
@keyframes shadowAnimation {
    from {
        box-shadow: 0 0 0 color(tertiary); 
    }
    to {
        box-shadow: 0 8px 10px color(secondary); 
    }
}

/* Definimos la animación para el hover del botón */
/// Animación para hacer un hover sueve de cambio de color al pulsar sobre un boton.
/// Consiste en partir desde un color de fondo y un color de texto inicial y transicionar
/// hacia un fondo más oscuro y un texto más claro.
/// @example 
/// button:hover {
///     animation: buttonHoverAnimation 0.3s forwards;
///     border: none;
///}
@keyframes buttonHoverAnimation {
    from {
        background-color: color(contrast); 
        color: color(secondary); 
    }
    to {
        background-color: color(deep-contrast); 
        color: color(quaternary); 
    }
}


