//// Proyecto: Landing inmobiliaria
//// @author luciarl

/// Fuente principal: Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

///Declaracion de variables
$font-family: 'Raleway', sans-serif;

$font-sizes:(
    xxl:6rem,
    xl:3rem,
    lg:2.5rem,
    md:2rem,
    sm:1.8rem,
    xs:1.6rem,
    xxs:1rem,
    min: 0.7rem
);

@function size($size){
    @return map-get($font-sizes, $size);
}

/* PALETA DE COLORES */
$colors: (
    primary:#835249, 
    secondary: #403232, 
    tertiary: #D9B7B0, 
    tertiary-trans: #d9b7b066,
    quaternary: #F2F2F2,
    contrast: #5B74A6,
    deep-contrast: #21304c
);

@function color($color){
    @return map-get($colors, $color);
}

/// Puntos de ruptura
$breakpoints:(
"sm": 576,
"md": 768px,
"lg": 992px,
"xl": 1200px
);

//// Animación del menú
@keyframes underlineAnimation{
    from{
      width: 0;
      margin-left: 0
  }
    to{
      width: 100%;
      margin-left: 0
      }
  }



