.carousel-opinions{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.carousel-item .d-block{
    background-color: gray;
}

.bg-primary{
    display: block;
    width: 100%;
    height: 30vh;
    background-color: gray;
}

.btn-round{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
