.pro-title{
}

.testimonials{
    display: flex;
    justify-content:space-evenly;

    &__card{
        width: 275px;
        height:400px;
        position:relative;
        cursor: pointer;

        &:hover &--back{
            transform: rotateY(360deg);
        }

        &:hover &--front{
            transform: rotateY(180deg);
        }

        &--front,&--back{ 
            padding:5px;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            transition: all 1s linear;
            backface-visibility: hidden;
            
        }

        &--front{

            & img{
                width: 275px;
                height:400px;
                object-fit: cover;

            }
        }

        &--back{
            transform:rotateY(180deg);
            background-color: color(tertiary);
            color: color(secondary);
        }
    }

    
    
}







