.site{

    &-card{
        width: 75%;
        max-width: 600px;
        height: 110%;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;


        text-align:start;
        margin: 20px;

        &:hover{
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
        }

        & div img{
            max-width: 100%;
            max-height: 100%; 
            height: 200px;
            object-fit: cover;
            
        }

        & button{
            width: 100%;
            background-color: color(tertiary);
            color: color(secondary);
            font-size: larger;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            bottom: 5px;
            

            
            &:hover {
                background-color: color(secondary);
                color: color(quaternary);
            }
        }
    }
}

.texto{
    min-height: 46.5%;
}