.firstgallery{
    width: 100%;

&-div{
    width: 100%;
    margin: 0 10px;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        visibility: hidden;
      }
}

&-uno:hover::after {
  content: "Montaña";
  @include firstgallery-hover;
}

&-dos:hover::after {
  content: "Playa";
  @include firstgallery-hover;
}

&-tres:hover::after {
  content: "Ciudad";
  @include firstgallery-hover;
}

&-cuatro:hover::after {
  content: "Ensueño";
  @include firstgallery-hover;
}

&-img{
    @extend %img-size;
    object-fit: cover;
    transition: transform 0.3s ease;
    @extend %first-gallery-picture;

    &:hover {
        transform: scale(1.2);
      }
    
}



}
