.hero{
    background-size: cover;
}

.carousel-hero{
    &-caption{
        
        color: color(secondary);
        background-color: color(tertiary-trans);
        @extend %shadow-text;
        

        h2{
            font-size: size(xxl);
        }
        h4{
            font-size: size(sm);
        }
    }   
}

.carousel-hero .d-block{
    height: 100vh;
}

