.categoria{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    margin-top: 10rem;

    &1{
        background-color: blueviolet;
    }

    &2{
        background-color: lightgreen;
    }
}