.menu{
    @include posicionamenu();
    &__nav{
        flex-basis:30rem;
        background-color: red;
        }
    &--btn{
        flex-basis:2rem;
        background-color: greenyellow

    }
    
}