.btn-round{
    border: 0.15rem solid color(quaternary) !important;
    @extend %btn-round;
    
}

.carousel{
    &-item{
        background-color: color(contrast);
        color: color(quaternary);
    }
    
    &-comentario{
        width: 100%;
        height: 30vh;
    }

    &-article{
        color: color(quaternary) !important;
        top: 15%;
        @extend %shadow-text-dark;

        & h5{
            font-size: size(xs);
            text-transform: uppercase;
            
        }

        & p{
            font-size: size(xxs);
        }
    }


}




